<header class="header-area">
    <div class="container-fluid">
       <div class="row ">
         
          <div class=" col-md-2 col-sm-3">
             <div class="logo">
                <a href="/">lens<br><span>light</span></a>
             </div>
          </div>
          <div class="col-md-8 col-sm-9">
             <div class="navbar-area">
                <nav class="site-navbar">
                   <ul>
                      <li><a href="/" class="<%= link ==="index" && "active" %>">Home</a></li>
                      <li><a href="about" class="<%= link ==="about" && "active" %>">About</a></li>
                      <li><a href="services"  class="<%= link ==="services" && "active" %>">Services</a></li>
                      <li><a href="photos" class="<%= link ==="photos" && "active" %>">Gallery</a></li>
                      <li><a href="projects" class="<%= link ==="projects" && "active" %>">Projects</a></li>
                      <li><a href="blog" class="<%= link ==="blog" && "active" %>">Blog</a></li>
                      <li><a href="contact" class="<%= link ==="contact" && "active" %>">Contact</a></li>
                   </ul>
                   <button class="nav-toggler">
                   <span></span>
                   </button>
                </nav>
             </div>
          </div>
          <div class=" col-md-2 di_none">
            <ul class="email text_align_right"><li><a href="Javascript:void(0)">Login</a></li>
            <li><a href="Javascript:void(0)"><i class="fa fa-search" aria-hidden="true"></i></a></li>
            </ul>
          </div>
       </div>
    </div>
 </header>