<%- include("partials/_header") %> 
   

   <body class="main-layout inner_page">
      

      <div class="loader_bg">
         <div class="loader"><img src="/images/loading.gif" alt="#"/></div>
      </div>
     

<%- include("partials/_navbar") %> 
         
    

      <div class="about">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="titlepage text_align_left">
                <h2><%- photo.title %> </h2>
                <p><%- photo.content %> </p>
                <a class="read_more" href="/users/<%= photo.user._id %> ">  Author : <%- photo.user.username %> </a>
             
                <div style="margin-top: 30px ;">
                  <ul style="display: flex; justify-content: space-between;">
                     <li><button style="min-width: 266px;" class="read_more" data-toggle="modal"
                           data-target="#updateModal">Update</button></li>
                     <li><a style="min-width: 266px;" class="read_more"
                      href="/photos/<%= photo._id %>?_method=DELETE"
                      onclick="return confirm('Do you want to delete the photo')">Delete</a></li>
                  </ul>
               </div>
             
             
             
              </div>
            </div>
            <div class="col-md-6">
              <div class="about_img">
                <figure><img style="z-index: 1;" src="<%- photo.url %> " alt="#"/></figure>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- modal -->

      
      <div id="updateModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div style="margin-top: 50px; margin-bottom: 50px;" class="container">
              <div class="row">
                <div class="col-md-12 ">
                  <div class="text_align_center">
                    <h2 style="
                    font-size: 30px;
                    margin-bottom: 20px;
                    color: #D43A8E;
                ">Update Photo </h2>
                  </div>
                </div>
                <div class="col-md-10 offset-md-1">
                  <form id="request" class="main_form"  method="post" action="/photos/<%= photo._id %>?_method=PUT" 
                  enctype="multipart/form-data">
                    <div class="row">
                      <div class="col-md-12">
                        <input class="form_control" placeholder="Name" value="<%= photo.title %>" type="text" name="title">
                      </div>
                      <div class="col-md-12">
                        <textarea 
                        name="content" 
                        style="height: 150px;" 
                        class="form_control" placeholder="content"
                          rows="5"> <%= photo.content %> </textarea>
                      </div>

                      <div style="margin-bottom: 20px ;" class="col-md-12">
                        <input type="file" name="image" class="form-control-file">
                      </div>

                      <div class="col-md-12">
                        <div class="group_form">
                          <button class="read_more">Upload File</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




<%- include("partials/_footer") %> 
    